<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
      <div class="row h-100 align-items-center">
          <div class="col-lg-2 logo">
              <img src="/assets/images/logo-golaco.png" width="250px" height="250px"/>
          </div>
          <div class="col-lg-10">
              <h1 class="display-4 text-white mt-5 mb-2">Melhor site de aposta que irá encontrar</h1>
              <p class="lead mb-5 text-white">Dispute com o seu amigo quem irá ganhar!</p>
          </div>
      </div>
  </div>
</header>


